.footlinkmiddle_wrapper{
    display: flex;
    justify-content: left;
    flex-direction: column;
    row-gap: 20px;
}
.middle_head{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffffe7;
}
.footlinkmiddle_link{
    display: flex;
    justify-content: left;
}
.list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}