#allelectronic_navbar{
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 11;
}
.allelectronic_navbar_contant_wrapper_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.allelectronic_navbar_contant_pera{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 140%;
}
.allelectronic_navbar_contant_link{
    padding: 8px 16px;
    border:  1px solid #000;
    border-radius: 10px;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 140%;
    cursor: pointer;
}