#allprogram{
    width: 100%;
}
.allprogram_wrapper{
    padding: 20px 0;
}
.allprogram_wrapper_head_box{
    text-align: left;
    margin-bottom: 20px;
}
.allprogram_wrapper_head{
    font-size: 22px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
}
.allprogram_wrapper_link_box{
    display: flex;
    justify-content: left;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    position: relative;
}
.allprogram_wrapper_alllink_item_box{
   text-align: left;
   width: 100%;
   padding: 10px 0;
}
.allprogram_wrapper_alllink_item_box:hover{
    background: #e2dbdb;
}
.allprogram_wrapper_alllink_item_box::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #615656b7;
    left: 0;
    bottom: -20px;
}
.allprogram_alllinks{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #0f0d0de3;
    text-transform: capitalize;
    padding: 10px 10px;
    width: 100%;
    transition: all linear 0.3s;
}
.allprogram_alllinks:hover{
    color: #0f0d0de3;
}